<%- include ../parts/header -%>
    
<main>
    <h1><%= box.description %></h1>
    <h2><%= box.boxCode %></h2>
    
    <h2>Here's what was inside:</h2>
    <div id="open-result">
        <% for (let i = 0; i < notes.length; i++) {%>
            <div class="note"><%= notes[i].message %></div>  
        <% } %>
    </div>
    <a href="/" class="button">Back to Main Menu</a>
</main>
    
<%- include ../parts/footer -%>