<%- include ../parts/header -%>
    
<main>
    <div class="container">
        <h1>Box [<%= box.boxCode %>]</h1>
        <h2>Description:</h2>
        <p><%= box.details %></p>
        <br>
        <h2>Here's what was inside:</h2>
        <% for (let i = 0; i < notes.length; i++) {%>
            <hr>
            <p class="note"><%= notes[i].message %></p>  
        <% } %>
    </div>
</main>
    
<%- include ../parts/footer -%>