<%- include ../parts/header -%>
    
<main>
    <div class="container">
        <h1>Box &lt<%= box.boxCode %>&gt</h1>
        <h2>Description: <%= box.details %></h2>
        <h2>Opening Time: <%= new Date(box.openTime).toString().substr(0, 24) %></h2>
        <% if (box.opened) { %>
            <a class="button" href="/box/<%= box.boxCode %>/content">See inside</a class="button">
        <% } else { %>
            <a class="button" href="/box/<%= box.boxCode %>/submit">Submit note</a>
        <% } %>
    </div>
</main>
    
<%- include ../parts/footer -%>