<%- include ../parts/header -%>
    
<main>
    <h1><%= box.details %></h1>
    <h2><%= box.boxCode %></h2>
    <% if (box.opened) {>
        <a href="/box/<%= box.boxCode %>/content"></a>
    <% } %>
    <a href="/" class="button">Back to Main Menu</a>
</main>
    
<%- include ../parts/footer -%>