<%- include ../parts/header -%>
    
<main>
    <div class="container">
        <h1>Box</h1>
        <h1><u>Description</u>: <%= box.details %></h1>
        <h2><u>Code</u>: <%= box.boxCode %></h2>
        <% if (box.opened) { %>
            <a class="button" href="/box/<%= box.boxCode %>/content">See inside</a class="button">
        <% } else { %>
            <a class="button" href="/box/<%= box.boxCode %>/submit">Submit note</a>
        <% } %>
    </div>
</main>
    
<%- include ../parts/footer -%>