<%- include ../parts/header -%>
    
<main>
    <div class="container">
        <h1>Box [<%= box.boxCode %>]</h1>
        <h2>Description:</h2>
        <p><%= box.details %></p>
        <h2>Opening Time:</h2>
        <p><%= new Date(box.openTime).toString().substr(0, 24) %></p>
        <br>
        <% if (box.opened) { %>
            <a class="button" href="/box/<%= box.boxCode %>/content">See inside</a class="button">
        <% } else { %>
            <a class="button" href="/box/<%= box.boxCode %>/submit">Submit note</a>
        <% } %>
    </div>
</main>
    
<%- include ../parts/footer -%>