<%- include ../parts/header -%>
            
<main>
    <form action="/box/new" method="post">
        <h1>New Box</h1>

        <label for="time">Opening Time</label>
        <% if (locals.body) {%>
            <input type="datetime-local" name="time" id="time" value="<%= body.time %>" autofocus><br>
            <label for="details">Box Desciption</label>
            <textarea name="details" id="details" value="<%= body.details %>"></textarea><br>
        <% } else { %>
            <input type="datetime-local" name="time" id="time" autofocus><br>
            <label for="details">Box Description</label>
            <textarea name="details" id="details"></textarea><br>
        <% } %>
        <input type="submit" value="Create Box">

        <%- include ../parts/errors -%>
    </form>
</main>   
         
<%- include ../parts/footer -%>