<%- include ../parts/header -%>
            
<main>
    <form action="/box/new" method="post">
        <h1>New Box</h1>

        <label for="time">Opening Time</label><br>
        <% if (locals.body) {%>
            <input type="datetime-local" name="time" id="time" value="<%= body.time %>" autofocus><br>
            <label for="details">Box Desciption</label><br>
            <input type="text" name="details" id="details" value="<%= body.details %>"><br>
        <% } else { %>
            <input type="datetime-local" name="time" id="time" autofocus><br>
            <label for="details">Box Description</label><br>
            <input type="text" name="details" id="details"><br>
        <% } %>
        <input type="submit" value="Create Box">
        <a href="/" class="button">Back</a>

        <%- include ../parts/errors -%>
    </form>
</main>   
         
<%- include ../parts/footer -%>