<%- include ../parts/header -%>

<main>
    <form class="container" action="/box/<%= box.boxCode %>/submit" method="post">
        <h1>New Note</h1>
        <h2><u>Box Description</u>: <%= box.description %></h2>

        <label>Your Note:</label>
        <textarea name="message" id="note" rows="10" maxlength="255" autofocus><%= body.message %></textarea><br>

        <input type="submit" value="Submit Note">
        <%- include ../parts/errors -%>
        <br>
        <a class="button" href="/box/<%= box.boxCode %>">Go to box page</a>     
    </form>
</main>

<%- include ../parts/footer -%>