<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/form.css">
        <script src="../js/main.js"></script>
    </head>

    <body>
        <div class="page">
            <%- include ../parts/header -%>
            
            <main width="80%">
                <% if (loadingError == '') { %>
                    <form action="/newNoteResult" method="post">
                        <h1>New Note</h1>
                        <p>Box Description: <%= fields.description %></p>

                        <label>Your Note</label><br>
                        <textarea name="message" id="note" rows="5" autofocus><%= body.message %></textarea><br>
                        <% for (let key in fields) { %>
                            <input type="hidden" name="<%= key %>" value="<%= fields[key] %>">    
                        <% } %>    

                        <input type="submit" value="Submit Note">
                        <%- include ../parts/errors -%>
                    </form>
                <% } else { %>
                    <h1><%= loadingError %></h1>
                <% } %>            
            </main>
            
            <%- include ../parts/footer -%>
        </div>
    </body>
</html>