<%- include ../parts/header -%>

<main width="80%">
    <% if (loadingError == '') { %>
        <form action="/box/<%= boxCode %>/submit" method="post">
            <h1>New Note</h1>
            <p><u>Box Description</u>: <%= fields.description %></p>

            <label>Your Note:</label>
            <textarea name="message" id="note" rows="5" autofocus><%= body.message %></textarea><br>
            <% for (let key in fields) { %>
                <input type="hidden" name="<%= key %>" value="<%= fields[key] %>">    
            <% } %>    

            <input type="submit" value="Submit Note">
            <%- include ../parts/errors -%>
        </form>
    <% } else { %>
        <h1><%= loadingError %></h1>
    <% } %>            
</main>

<%- include ../parts/footer -%>